/* .top-bar__side-bar {
  position: fixed;
  top: 56px;
  height: 100%;
  width: 250px;
  background-color: rgb(3, 3, 34);
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
}
.open {
  transform: translateX(0);
} */

.top-bar {
  grid-area: navbar;
}
.top-bar__side-bar {
  grid-area: sidebar;
  width: 0;
  transition: width 0.3s ease;
  overflow-x: hidden;
  white-space: nowrap;
}
.top-bar__side-bar.open {
  width: 250px;
}
.top-bar__side-bar .sidebar-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
.top-bar__side-bar.open .sidebar-content {
  opacity: 1;
  visibility: visible;
}
.top-bar__content-section {
  grid-area: content;
  transition: margin-left 0.3s ease;
}
:host {
  width: 100%;
  display: grid;
  grid-template-areas: "navbar navbar" "sidebar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow-x: hidden;
}
