.top-bar__side-bar {
  position: fixed;
  top: 56px;
  height: 100%;
  width: 250px;
  background-color: rgb(3, 3, 34);
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
}
.open {
  transform: translateX(0);
}
